@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using forum.Models;
@model forum.Controllers.HomePageModel

@{
    ViewData["title"] = "Home";
    Layout = "_Layout";
    var currentUsername = Context.Session.GetString("username");
    var currentRole = Context.Session.GetString("role");
    if (currentRole == null) currentRole = forum.Models.User.ROLE.GUESS.ToString();
    var userinfo = new forum.Database.UserSet().GetUser(currentUsername);
}
<body style="background-color: #efefef">
    <div class="container" ">
        <!---------left-sidebar--------->
        <div class="left-sidebar">
            <div class="imp-links">
                <a href="#"><i class="fa-solid fa-square-poll-horizontal" style="color: #005eff;"></i>Latest News</a>
                <a href="#"><i class="fa-solid fa-user-group" style="color: #005eff;"></i>Friends</a>
                <a href="#"><i class="fa-solid fa-users" style="color: #005eff;"></i>Groups</a>
            </div>
        </div>
        <!---------main-content--------->
        <div class="main-content">        
            @if (currentUsername != null)
            {
                <div class="write-post-container">
                    <div class="user-profile">
                        @if (userinfo.UserInfo.Base64String != "")
                        {
                            <img src="data:image/jpeg;base64,@userinfo.UserInfo.Base64String" />
                        }
                        else if (userinfo.UserInfo.Base64String == null || userinfo.UserInfo.Base64String == "")
                        {
                            <img src="https://static-00.iconduck.com/assets.00/user-icon-2048x2048-ihoxz4vq.png" />
                        }
                    <div>
                            <p>@userinfo.UserInfo.Name</p>
                        <small>Public</small>
                    </div>
                </div>
                    <form method="post" action="post" enctype="multipart/form-data">
                        <div class="post-input-container">
                            <textarea row="3" placeholder="What's on your mind?" id="text_content" name="content"></textarea>
                            <img id="output" />
                            <div class="add-post-links">
                                <input type="file" accept="image/*" onchange="loadFile(event)" name="picture">
           
                                <script>
                                    var loadFile = function (event) {
                                        var output = document.getElementById('output');
                                        output.src = URL.createObjectURL(event.target.files[0]);
                                        output.onload = function () {
                                            URL.revokeObjectURL(output.src) // free memory
                                        }
                                    };
                                </script>
                                <input class="btn btn-primary" type="submit" id="submit-btn" value="Post" />
                            </div>
                        </div>
                    </form>    
                </div>
            }        
        <!--Post-->        
        @foreach(var (tpost, liked) in Model.post_list)
            {
                var post = tpost;
                var postContent = tpost.Info.Content;
                var postImage = tpost.Info.Base64String;
                var user_displayname = tpost.Poster.UserInfo.Name;
                var user_icon = tpost.Poster.UserInfo.Base64String;
                string likeClass;
                if(liked) 
                    likeClass = "liked";
                else 
                    likeClass = "like";
                <div class="post-container">
            <div class="user-profile">
                        @if (user_icon != "")
                        {
                            <img src="data:image/jpeg;base64,@user_icon" />
                        }
                        else if (user_icon == null || user_icon == "")
                        {
                            <img src="https://static-00.iconduck.com/assets.00/user-icon-2048x2048-ihoxz4vq.png" />
                        }
                <div>
                    <p style="margin-bottom:2px">@user_displayname</p>
                    <span>@post.Create_date</span>
                </div>
                @if(currentUsername != null && currentUsername == post.Poster.Username ) {
                <div class="post-control">
                <a href="" onclick="hide_post(@post.Id)"><i class="fa-solid fa-trash" style="color: red;"></i></a>
                <a href="#editPost-@post.Id"  data-toggle="modal" onclick=""><i class="fa-solid fa-edit" style="color: blue;"></i></a>
                </div class="editpost-modal">
                            <div id="editPost-@post.Id" class="modal fade">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form action="editpost" method="post">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Edit Your Post</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <input name="id" type="hidden" value="@post.Id" />
                                                    <label>@currentUsername</label>
                                                    <input name="content" type="text" value="@postContent" class="form-control" required>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                                <input type="submit" class="btn btn-success" value="Done">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                }
                </div>
                <div class="col-6">
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="nav justify-content-end" style="list-style-type:none">
                                @if (currentRole.Equals("1") 
                                || currentUsername != null && currentUsername == tpost.Poster.Username
                                || currentRole.Equals("0"))
                                {
                                <li class="nav-item">
                                    <a href="" onclick="hide_post(@post.Id)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-x" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M6.146 5.146a.5.5 0 0 1 .708 0L8 6.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 7l1.147 1.146a.5.5 0 0 1-.708.708L8 7.707 6.854 8.854a.5.5 0 1 1-.708-.708L7.293 7 6.146 5.854a.5.5 0 0 1 0-.708z" />
                                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                                        </svg>
                                    </a>
                                </li>
                                }                          
                        </ul>
                    </div>              
                </div>
    <!-------------------------------------------------------------------------------->
            <p class="post-text">@postContent
                @if (postImage != "")
                {
                            <img src="data:image/jpeg;base64,@postImage" style="max-width:100%;height:auto"/>
                }
               
            </p>
            <!--<img src="https://media.discordapp.net/attachments/975638613431840818/990072623721508915/IMG_0173.jpg?width=908&height=681" class="post-img" />-->
            <div class="post-row">
                <div class="count">
                    <div class="like_count">@post.Like_count likes</div>
                    <!--<div class="comment-count">comments</div>-->
                </div>
                       <hr>
                        <div class="activity-icons">
                            <div class="@likeClass" onclick="likeToggle(@tpost.Id,this)"><i class="fa-solid fa-thumbs-up" ></i><span>Like</span></div>
                            <div class="comment" onclick="commentToggle(@post.Id)"><i class="fa-solid fa-message" style="color: #758095;"></i><span>Comment</span></div>
                            <div class="share"><i class="fa-solid fa-share" ></i><span>Share</span></div>
                </div>
            </div>
            <!--Comment section for each post-->
            <div class="content-comment" id="@post.Id">
                <hr>
                <div class="output-comment"></div>                
            </div>
                    @if (currentUsername != null)
                    {
                        <div class="input-comment">
                            <textarea row="1" placeholder="Write your comment here" wrap="soft"></textarea>
                            <button onclick="sendComment(this,@post.Id)">  <i class="fa-solid fa-paper-plane"></i> </button>
                        </div>
                    }
            <!--End of comment section-->            
        </div> }
        <!--Post-->
       </div>
        <!---------right-sidebar--------->
        <div class="right-sidebar"></div>
    </div>
    <div style="text-align:center">
    @Html.PagedListPager(
        Model.post_list,
        page => Url.ActionLink("Index","Home", new {page = page}))
    </div>
    <script src="https://kit.fontawesome.com/eee778a1cd.js" crossorigin="anonymous"></script>
    <script src="~/js/script.js"></script>
</body>

                   

                            