@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model forum.Models.User
@{
    ViewData["title"] = "User profile";
    Layout = "_Layout";
    var uset = new forum.Database.UserSet();
    var uinfo = Model.UserInfo;
}

<body>
    <link rel="stylesheet" href="~/css/user_profile.css" />
    <div class="t_container">
        <section id="top">
            @if (uinfo.Base64String != "")
            {
                <img src="data:image/jpeg;base64,@uinfo.Base64String" class="profile_avatar" height="50" width="50" />
            }
            else if (uinfo.Base64String == null || uinfo.Base64String == "")
            {
                <img src="https://static-00.iconduck.com/assets.00/user-icon-2048x2048-ihoxz4vq.png" class="profile_avatar" />
            }
           
            <h3>@uinfo.Name</h3>
            <h4>@Model.Username</h4>
        </section>
        <section id="bot">
            <h3>User profile:</h3>
            <div>Username : <span>@Model.Username</span> </div>
            <div>Display name :  <span>@uinfo.Name</span> </div>
            <div>Email :  <span>@uinfo.Email</span> </div>
            <div>Phone number :  <span>@uinfo.Telephone</span> </div>
            @* <div>Birthday :  <span>@uinfo.Birthdate</span> </div> *@
            <div>Address :  <span>@uinfo.Address</span> </div>
            <div class="btn-container">
            <button class="btn" onclick="location.href='/editProfile'">Edit</button>
            </div>
        </section>
    </div>
</body>